section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  h1, strong {
    color:aqua
  }
  
  ul {
    list-style: none;
    background-color: rgb(15, 15, 15);
    padding: 40px;
    
  }
  
    li {
      & + li {
        margin-top: 20px;
        border: 1px solid #096dd9;
        padding: 10px;

      }

      p {
        font-size:  14px;
        color: #096dd9;
        margin-top: 8px;
      }
      a{
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #9254de;
      }
    }

}